<div id="register" *ngIf="!loggedIn">
    <h3>{{loginstatus}}</h3>
    <p id="loginstatus"></p>
    <input type="text" placeholder="username" [(ngModel)]="username">
    <input type="text" placeholder="password" [(ngModel)]="password">

    <select id="userType" [(ngModel)]="selectedType">
        <option value="User">User</option>
        <option value="Worker">Worker</option>
    </select> 
    <button id="registerBtn" (click)="postAccount()">Register</button>
    <button id="loginBtn" (click)="logIn()">Login</button>
</div>

<div id="loggedIn" *ngIf="loggedIn">
    <p>Hello {{account.username}}</p>
    <button (click)="logOut()">Log Out</button>
</div>
